@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/****Global Styling****/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --link-color: #dd3038;
    --header-bg: #e7613a;
    --main-bg: #FDF4F2;
    --dark-text: #292929;
    --card-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.outer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px solid red
}

.inner-container {
    flex-basis: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
}